.blackout-body {
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .65);
  display: none;
}

.blackout-body.is-blacked-out {
  display: block;
}

.modal-display {
  height: 70%;
}

.modal-extra-info {
  background-color: white;
  margin-left: 15px;
  padding-top: 1px;
}

.modal-extra-info-table {
  background-color: #F2FBFF;
  border-top: none;
  font-size: 14px;
  width: 100%;
}

.modal-extra-info-table-column {
  text-align: left;
  padding-left: 23px;
}

.modal-extra-info-table-column > img {
  padding-right: 8px;
}

.modal-extra-info-table-header, .modal-extra-info-table-data {
  padding: 2px;
  text-align: left;
}

.modal-extra-info-table, .modal-extra-info-table-header, .modal-extra-info-table-data {
  border-collapse: collapse;
}

.modal-extra-info-table-data {
  border-left: none
}

.modal-extra-info-table-row {
  display: grid;
  grid-template-columns: 42% 30% 25%;
  /* grid-template-rows: 32px; */
  padding-top: 10px;
}

.modal-extra-info-table-row:first-child {
  padding-top: 12px;
}

.modal-extra-info-table-row:last-child {
  padding-bottom: 12px;
}

.modal-header {
  background-color: whitesmoke;
  padding-bottom: 22px;
  padding-top: 22px;
  padding-left: 12px;
}

.modal-org-name {
  font-size: 14px;
  font-weight: 600;
}

.modal-description {
  margin-top: 4px;
}

.modal-title {
  margin-bottom: 0px;
}

.modal-title:nth-child(1) {
  margin-top: 4px;
}

.modal-title, .modal-description {
  font-size: 14px;
  padding-left: 26px;
  padding-right: 26px;
}

.popup-modal {
  width: 98%;
  position: fixed;
  left: 49%;
  top: 43%;
  transform: translate(-50%, -50%);
  opacity: 0;
  padding-left: 8px;
  padding-right: 10px;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  z-index: 1011;
  overflow-x: hidden;
}

.popup-modal:after {
  background-color: rgba(0, 0, 0, .65);
}

.popup-modal-link-img {
  padding-left: 10px;
}

.popup-modal__close {
  position: absolute;
  right: 30px;
  top: 24px;
  cursor: pointer;
}

.popup-modal.is--visible {
  opacity: 1;
  pointer-events: auto;
}

.popup-trigger {
  display: inline-block;
}

@media only screen and (min-width: 769px) {
  .blackout-body.is-blacked-out {
    display: none;
  }

  .popup-modal {
    display: none;
  }
}
