#column-title .source-list-tr {
  background-color: white;
  font-weight: bold;
  padding-bottom: 0px;
  padding-top: 0px;
}

#source-list {
  border-collapse: collapse;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: whitesmoke;
  font-style: normal;
  font-size: 14px;
  width: 100%;
}

.program-name {
  position: relative;
}

.program-name-arrow {
  left: 6px;
  top: 16px;
}

.program-name-icon {
  right: 4px;
  top: 16px;
}

.program-name-link {
  left: 1px;
  margin-left: 26px;
  margin-right: 26px;
}

.program-name-arrow, .program-name-icon, .program-name-link {
  position: absolute;
}

.source-list-td {
  padding: 10px 10px 0;
}

/* Only style the first column */
.source-list-td:nth-child(1) {
  font-weight: 600;
}

/* Only display the first 3 column */
.source-list-td:nth-child(n+4) {
  visibility: hidden;
}

.source-list-tr {
  display: grid;
  grid-template-columns: 48% 36% 17%;
  grid-template-rows: 100%;
  height: 3.32rem;
}

.source-list-tr:nth-child(even) {
  background-color: white;
}

.source-list-td:not(:first-child) {
  border-left: 1px solid lightgray;
}

@media only screen and (max-width: 768px) {
  /* styling for program name link and the first third rows */
  .program-name-link, .source-list-td:nth-child(n-3) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 1380px) and (min-width: 770px) {
  .program-name-icon {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .collapsed {
    display: none;
  }

  .field-label {
    font-weight: bold;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .program-name-arrow {
    left: 16px;
  }

  .program-name-icon {
    position: absolute;
    right: 8px;
    top: 10px;
  }

  .program-name-link {
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    padding-left: 26px;
    position: static;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 76%;
  }

  #source-list {
    font-size: 16px;
  }

  .source-list-td {
    height: auto;
    padding: .5rem .1rem .5rem 1rem;
  }

  /* Display all columns after the 3rd one */
  .source-list-td:nth-child(n+4) {
    visibility: visible;
  }

  .source-list-tr {
    grid-template-columns: 15% 15% 10% 30% 20% 10%;
    grid-template-rows: auto;
    height: auto;
    padding: 0px;
  }

  .unexpanded {
    height: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .target-applicants {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

