a {
  text-decoration: none;
  color: #007DBC;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
}

#column-title {
  background-color: white;
  font-weight: bold;
}

/* IDENTIFIERS */
#number-results {
  font-weight: bold;
}

#pagination-paragraph {
  display: inline-block;
  margin-left: 1rem;
}

#zipcode-results {
  font-weight: bold;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 0.5rem;
  margin-bottom: 0.08rem;
}

.arrow.down {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.current-page {
  border-radius: .25rem;
  background: #002E6D;
  color: white;
  display: block;
}

.current-page:before {
  content: counter(item) "  ";
  counter-increment: item
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.pagination {
  float: right;
  margin-right: 4rem;
  position: relative;
  counter-reset: item;
  list-style-type: none;
}

.pagination li {
  display: inline;
  font-weight: bold;
  padding: .5rem .25rem .25rem .5rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.search-bar {
  background-color: #002E6D;
  color: white;
  padding: 2rem;
}

@media only screen and (min-width: 769px) {
  .arrow {
    margin-right: 0.8rem;
  }

  .arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
